{% extends "base/base_footer_navbar.html" %}

{% block sub_banner %} Get your nutrition on track! {% endblock sub_banner %}

{% block content %}
    <div class = "well full">
        <h3>Welcome to WhatToEat</h3>
            <p>WhatToEat is an application to support the construction of nutritionally sound meals, personalised to fit
            your goals. WhatToEat's main feature is the Meal Generator. This takes in your nutritional requirements
        and a set of ingredients you have chosen and trys to construct a meal from the ingredients which satisfies the
        requirements.</p>

        <p>
            WhatToEat can support you in achieving one of three possible goals:
            <ol>
                <li> Losing Weight</li>
                <li> Gaining Weight</li>
                <li> Maintaining Your Current Weight</li>
            </ol>
        </p>
        <p>
            To start, sign up for an account or log in if you are already registered.
        </p>


    </div>

{% endblock content %}


