<div class="sub_banner">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-override" role="navigation">
        <div class="container navbar_container_override">
            <div class="navbar-header navbar_text">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar_text" href="#">
                    {% block sub_banner %}

                    {% endblock %}
                </a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    {% block navbar_links %}
                        {% include 'navbar_links.html' %}
                    {% endblock %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar_text"
                           data-toggle="dropdown">
                            Dropdown
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="dropdown_link"><a href="#">Action</a></li>
                            <li class="dropdown_link"><a href="#">Another action</a></li>
                            <li class="dropdown_link"><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>