{% extends 'base/base_footer_navbar.html' %}

{% block sub_banner %}
    {% if daily %}
        Edit Daily Requirements
    {% else %}
        Edit Requirements
    {% endif %}
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    {# Display the correct form headers for daily or meal requirements set #}
    {% if daily %}
        {# daily requirements set #}
        <h3>Set you daily requirements</h3>
        <p>First choose the number of meals you want to eat. Then set your nutritional requirements.
            If you are unsure, click here to have WhatToEat estimate your requirements</p>
        <form action="." method="POST" id="daily_requirements_edit" class="form-inline">
        {% csrf_token %}
        <table>
            <tr>
                <th>Number of Meals Per Day</th>
                <th>{{ req_set_form.num_meals_per_day }}</th>
            </tr>
        </table>

    {% else %}
        {# meal requirements set #}
        <form action="." method="POST" id="meal_requirements_edit" class="form-inline">
        {% csrf_token %}
        <table>
            <tr>
                <th>Meal Name</th>
                <th>{{ req_set_form.name}}</th>
            </tr>
        </table>
    {% endif %}

{# form id fields must be included; required by Django ModelFormSets (see Django Docs) #}
{# id field should be hidden (set in form definition #}
{# editing the id field is a sign of form tampering #}
<div class="component_vertical_spacing">
    <h4>Definite Requirements</h4>
    {{ def_req_formset.management_form|crispy }}



    {% for form in def_req_formset %}
        <div class="definite_space"> {% crispy form %}</div>
    {% endfor %}
    <button class="btn btn-success formset_add_button" type="button" id="add_definite">Add Definite Requirement</button>
</div>

<div class="component_vertical_spacing">
    <h4>Restricted Requirements</h4>
    {{ res_req_formset.management_form|crispy }}



    {% for form in res_req_formset %}
        <div class="restricted_space">{% crispy form %}</div>
    {% endfor %}
    <button class="btn btn-success formset_add_button" type="button" id="add_restricted">Add Restricted Requirement
    </button>
</div>


<div class="formset_submit">
    <button class="btn btn-success btn-lg" type="submit" name="save_button">
        Save
    </button>
</div>

</form>

{% endblock %}

{% block script_declarations %}
    <script type="text/javascript"
            src="{% static 'whattoeat/js/requirements/requirements_form_manipulation.js' %}"></script>
{% endblock %}