{% extends 'base/base_footer_navbar.html' %}
{% block sub_banner %}
    Daily Requirements
{% endblock %}

{% block content %}

    <div class="well full">
        {% if requirements %}
            <div class="table_banner">
                <p>Daily Nutritional Requirements</p>
                <a class="btn btn-default" href="/user/requirements/edit_daily_requirements/">Edit</a>
            </div>
            <table class="table table-responsive table-striped small_table">
                <tr>
                    <th>
                        Number of Meals Per Day
                    </th>
                    <td>
                        {{ requirements.num_meals_per_day }}
                    </td>
                </tr>
                {% for req in requirements.get_conventional_ordering %}
                    <tr>
                        <th>
                            {{ req.0 }}
                        </th>
                        <td>
                            {{ req.1 }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <a class="btn btn-lg btn-success" href="/user/requirements/auto_calculate_base_meal_requirements/">
                    Generate a base meal requirements set
                </a>
            </div>
        {% else %}
            <h3 class="error_message">You have not set your daily requirements.</h3>
            <p>Choose one of the options below to fix this.</p>
            <div class="btn-group">
                <a class="btn btn-default" href="/user/requirements/edit_daily_requirements/">Set Requirements
                    Manually</a>
                <a class="btn btn-default" href="/user/requirements/auto_calculate/">Auto Calculate Requirements</a>
            </div>
        {% endif %}

    </div>
{% endblock %}