{% extends 'base/base_with_footer.html' %}
{% block content %}
<h4>Sign Up For An Account</h4>
<form action="." method="POST">
    {% csrf_token %}

    {% if user_form.errors %}
    <p><strong>Please correct the errors below.</strong></p>
    <ul>
        {% for field in user_form %}
            <li>{{ field.error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <table class="table">
        <tr>
            <td><label for="id_email">Email</label></td>
            <td>{{ user_form.email }}</td>
        </tr>
        <tr>
            <td><label for="id_username">Username</label></td>
            <td>{{ user_form.username }}</td>
        </tr>
        <tr>
            <td><label for="id_password1">Password</label></td>
            <td>{{ user_form.password1 }}</td>
        </tr>
        <tr>
            <td><label for="id_password2">Confirm Password</label></td>
            <td>{{ user_form.password2 }}</td>
        </tr>
        <tr>
            <td><label for="id_first_name">First Name</label></td>
            <td>{{ user_form.first_name }}</td>
        </tr>
        <tr>
            <td><label for="id_last_name">Surname</label></td>
            <td>{{ user_form.last_name }}</td>
        </tr>
    </table>

    <input type="submit" value="Create Account">
</form>

{% endblock %}