{% extends 'base/base_footer_navbar.html' %}
{% block content %}
    <h3>Thanks for signing up to WhatToEat!</h3>
    <p>
        In order to use meal generation and get the most out of this site, we need a few more
    details from you such as your height and weight. WhatToEat uses this data to estimate your personal
    nutritional requirements. You can enter these now by clicking the link below or edit them at any time using
    the 'Edit My Info' link in the top right dropdown.<br>
    <br>
    Click <a href="{% url 'whattoeat.accounts.profile_views.edit_diet_profile' %}">here</a> to start building your profile.
    </p>
{% endblock %}