{% extends "base_with_footer.html" %}

{%  block sub_banner %}Make a meal to fit your requirements{% endblock sub_banner %}
{% block content %}
<h3>Ingredients</h3>
<div id="ingredients_space">
    {# space for selected ingredients to be rendered #}
</div>
<div id="add_ingredients_button_space"><button id="add_ingredients_button">Add Ingredient</button></div>

<h3>Requirements</h3>
<div id="requirements_space">
    {# space for requirements forms to be rendered #}
</div>
{% endblock content %}


{% block script_declarations %}
    {{ block.super }}
    <script type="text/javascript">
        function getSearchPane()
    </script>
{% endblock %}