{% extends 'base/base_footer_navbar.html' %}
{% block sub_banner %}
    Edit Vital Stats
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="well full">
<div class="edit_stats_window" >
<h3>Please enter the following</h3>
<p>WhatToEat uses this data to personalise your meals, so be honest!</p>
<form id="edit_stats_form" action="." method="POST">
    {% csrf_token %}
    {% if stats_form.errors %}
        <p class="error_message"><strong>Please correct the errors below</strong></p>
        {{ stats_form.errors }}
    {% endif %}
    <table class="table small_table">
        <tr>
            <td>
                <label for="id_gender">Gender</label>
            </td>
            <td>
                {{ stats_form.gender }}
            </td>
        </tr>
        <tr>
            <td>
                <label for="id_age">Age</label>
            </td>
            <td>
                {{ stats_form.age }}
            </td>
        </tr>
        <tr>
            <td>
                <label for="id_height">Height</label>
            </td>
            <td>
                {{ stats_form.height }}
                {{ stats_form.height_units }}
            </td>
        </tr>
        <tr>
            <td>
                <label for="id_weight">Weight</label>
            </td>
            <td>
                <span class=".rounded_decimal">{{ stats_form.weight }}</span>
                {{ stats_form.weight_units }}
            </td>
        </tr>
        <tr>
            <td>
                <label for="id_goal">Current Goal</label>
            </td>
            <td>
                {{ stats_form.goal }}
            </td>
        </tr>
    </table>
    <input class="btn btn-success" type="submit" value="Save and Exit" name="save">
    <input class="btn btn-warning" type="submit" value="Save and Calculate Daily Requirements" name="calculate">
</form>
</div>
</div>
{% endblock %}


{% block script_declarations %}
{{ block.super }}

<script type="text/javascript">
    /*Correct the height output from the model into the height field from m to cm */
    function height_to_cm(height){
        height_field = $('#id_height');
        height_field.val(Math.round(height * 1000) / 10);
    }
    height_to_cm({{ user.profile.height }});


</script>

{% endblock %}