{% extends 'base/base_footer_navbar.html' %}

{% block sub_banner %}
Login
{% endblock %}

{% block content %}
<div class="login_box">
    <p class="form-prompt-large">Please sign in or <a href="{% url 'whattoeat.views.user_views.authentication.register' %}">register</a>.</p>
    <form id="login_form" action="." method="POST">
        {% csrf_token %}
        <table>
            {% if login_failed %}
                <tr><td><p class="error_message"><strong>Invalid username or password</strong></p></td></tr>
            {% endif %}
            <tr>
                <td>
                    <label for="username">Username</label>
                </td>
                <td>
                    <input type="text" name="username" value="" id="username" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password" >Password</label>
                </td>
                <td>
                    <input type="password" name="password" value="" id="password" />
                </td>
            </tr>
        </table>
       <input type="submit" value="Login" />
    </form>

</div>
{% endblock %}